p.p1{
    font-family: Roobert, sans-serif;
    font-size: 15.5px;
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  padding-left: 28px;
   font-weight: bold;
}
p.p2 {
    font-family: Roobert, sans-serif;
    font-size: 15.5px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  padding-left: 28px;
  font-weight: bold;
}
p.p3 {
    font-family: Roobert, sans-serif;
    font-size: 15.5px;
    padding-top: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
  padding-left: 28px;
  font-weight: bold;
}
ul {padding-left: 50px;}
p.p4 {
    font-family: Roobert, sans-serif;
    font-size: 14px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 0px;
}


/* Style spécifique pour le titre */
h1 {
    font-family: Roobert, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 42.5px;
    line-height: 24px;
    font-weight: 500;
    padding-left: 28px;
    padding-top: 35px;
}

